langchain
langchain-groq
langchain-openai
langchain-openai
langchain-community
langchain-experimental
langchain-unstructured
ipykernel
python-dotenv
pytube
youtube-transcript-api
wikipedia
pypdf
docx2txt
unstructured
unstructured[md]
unstructured[pdf]
sentence-transformers
chromadb
crewai
crewai-tools